h1 Nos pizzas
#pizza
    .pizza
        .nom Margherita 
        .cover
            img(src="/img/pizza.jpg")
        .prix 8,00€
    .pizza
        .nom La Reine
        .cover
            img(src="/img/pizza.jpg")
        .prix 9,50€
            
    .pizza
        .nom La 4 Fromages
        .cover
            img(src="/img/pizza.jpg")
        .prix 10,00€
    .pizza
        .nom La Forestière
        .cover
            img(src="/img/pizza.jpg")
        .prix 8,00€
    .pizza
        .nom Margherita 
        .cover
            img(src="/img/pizza.jpg")
        .prix 9,00€
    .pizza
        .nom La Reine
        .cover
            img(src="/img/pizza.jpg")
        .prix 9,50€
