doctype html
html(lang="fr",ng-app="myAPP")
  head
    link(rel="stylesheet", href="/css/fix.css",type="text/css")
    link(rel="stylesheet", href="/css/index.css",type="text/css")
    link(rel="stylesheet", href="/css/angular.css",type="text/css")
    link(rel="stylesheet", href="/lib/animate.css",type="text/css")
    link(rel="stylesheet", href="/lib/loading-bar.css",type="text/css")
    link(rel="stylesheet", href="/lib/roboto.css",type="text/css")
    base(href="/")
    title
        | Site vitrine
body(ng-controller="MainController as main")
    .background
    .global
        container
            aside
                .logo
                    img(src="/img/logo.png")
                nav
                    ul
                        li(ng-class="{active:location=='/'}")
                            a(href="#/") Accueil
                        li(ng-class="{active:location=='/nos-pizzas'}")
                            a(href="#/nos-pizzas") Nos pizzas
                        li(ng-class="{active:location=='/nous-situer'}")
                            a(href="#/nous-situer") Nous situer
                        li(ng-class="{active:location=='/nos-partenaires'}")
                            a(href="#/nos-partenaires") Nos partenaires
                
            section(ng-view)
    footer
        .global
            a(href="#/mentions") Mentions légales

    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-animate.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-route.min.js")
    script(src='/js/loading-bar.js')
    script(src='/js/main.js')
