body {
    background: brown;
}

.global {
    margin: auto;
    display: flex;
    z-index: 3;
    position: relative;
    max-width: 1200px;
}

.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    background: url("/img/background.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    opacity: 0.5;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -ms-filter: blur(3px);
    -o-filter: blur(3px);
}

/* Centrage div */
@media screen and (max-width: 1050px) {
    .global {
        width: 90vw;
    }
}

@media screen and (min-width: 1050px) {
    .global {
        width: 70vw;
    }
}

container {
    margin-left: -20px;
    margin-top: -20px;
    display: flex;
    flex-grow: 1;
    margin-top: 40px;
}

aside , section {
    margin-top: 20px;
    margin-left: 20px;
}
aside {
    display: flex;
    flex-direction: column;
    width: 220px;
    min-width: 220px;
}

    /* Logo */
    .logo{
        display: flex;
        width: 100%;
        height: 120px;
        margin-bottom: 20px;
        overflow: hidden;
    }
        .logo img {
            width: inherit;
            height: inherit;
        }

    /* Navigation style */
    nav{
        display: flex;
        background: rgb(109,76,65);
        background: -moz-linear-gradient(top,  rgba(109,76,65,1) 0%, rgba(78,52,46,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,76,65,1)), color-stop(100%,rgba(78,52,46,1)));
        background: -webkit-linear-gradient(top,  rgba(109,76,65,1) 0%,rgba(78,52,46,1) 100%);
        background: -o-linear-gradient(top,  rgba(109,76,65,1) 0%,rgba(78,52,46,1) 100%);
        background: -ms-linear-gradient(top,  rgba(109,76,65,1) 0%,rgba(78,52,46,1) 100%);
        background: linear-gradient(to bottom,  rgba(109,76,65,1) 0%,rgba(78,52,46,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d4c41', endColorstr='#4e342e',GradientType=0 );
        border: 1px solid #3E2723;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        box-shadow: 2px 2px 5px rgba(20,20,20,0.2);
    }
        nav ul{
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: 5px;
        }
            nav ul li{
                flex-grow: 1;
                display: flex;
                color: #FFCC80;
            }
                nav ul li:not(.active):hover {
                    background: #5D4037;
                    cursor: pointer;
                }
            nav ul li.active {
                background: rgb(104,159,56);
                background: -moz-linear-gradient(top,  rgba(104,159,56,1) 0%, rgba(124,179,66,1) 100%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(104,159,56,1)), color-stop(100%,rgba(124,179,66,1)));
                background: -webkit-linear-gradient(top,  rgba(104,159,56,1) 0%,rgba(124,179,66,1) 100%);
                background: -o-linear-gradient(top,  rgba(104,159,56,1) 0%,rgba(124,179,66,1) 100%);
                background: -ms-linear-gradient(top,  rgba(104,159,56,1) 0%,rgba(124,179,66,1) 100%);
                background: linear-gradient(to bottom,  rgba(104,159,56,1) 0%,rgba(124,179,66,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#689f38', endColorstr='#7cb342',GradientType=0 );
                color: #3E2723;
            }
            nav ul li + li {
                border-top: 1px solid #3E2723;
            }
                nav ul a{
                    padding: 10px;
                    text-decoration: none;
                    flex-grow: 1;
                }

section{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 50px;
}
    section > h1 {
        display: flex;
        justify-content: center;
        color: #FFCC80;
        height: 35px;
        margin-bottom: 20px;
        border-bottom: 2px solid orange;
    }

/* Accueil style */
section .line{
    display:flex;
    background: rgba(62,39,35,0.85);
    padding: 20px;
    color: #FFF;
}
    section .line + .line {
        margin-top: 10px;
    }
    section .line .text{
        font-size: 15px;
    }

    section .line .picture{
        min-width: 150px;
        width: 150px;
        height: 150px;
        background: #FFF;
    }
        section .line .picture.left {
            margin-left: 20px;
        }
        section .line .picture.right {
            margin-right: 20px;
        }

/* Nos pizzas style */
section #pizza{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-top: -10px;
}
section #pizza .pizza{
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 200px;
    background: rgb(109,94,65);
    background: -moz-linear-gradient(top,  rgba(109,94,65,1) 0%, rgba(78,65,46,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,94,65,1)), color-stop(100%,rgba(78,65,46,1)));
    background: -webkit-linear-gradient(top,  rgba(109,94,65,1) 0%,rgba(78,65,46,1) 100%);
    background: -o-linear-gradient(top,  rgba(109,94,65,1) 0%,rgba(78,65,46,1) 100%);
    background: -ms-linear-gradient(top,  rgba(109,94,65,1) 0%,rgba(78,65,46,1) 100%);
    background: linear-gradient(to bottom,  rgba(109,94,65,1) 0%,rgba(78,65,46,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d5e41', endColorstr='#4e412e',GradientType=0 );
    border: 1px solid #3E2723;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(20,20,20,0.2);
    margin-left: 10px;
    margin-top: 10px;
    overflow: hidden;
}
    section #pizza .pizza .nom {
        flex-grow: 1;
        margin: 10px 20px;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        color: #FFCC80;
    }

    section #pizza .pizza .cover {
        width: 200px;
        height: 200px;
        background: orange;
    }
    section #pizza .pizza .prix {
        flex-grow: 1;
        background: rgb(104,159,56);
        background: -moz-linear-gradient(top,  rgba(104,159,56,1) 0%, rgba(124,179,66,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(104,159,56,1)), color-stop(100%,rgba(124,179,66,1)));
        background: -webkit-linear-gradient(top,  rgba(104,159,56,1) 0%,rgba(124,179,66,1) 100%);
        background: -o-linear-gradient(top,  rgba(104,159,56,1) 0%,rgba(124,179,66,1) 100%);
        background: -ms-linear-gradient(top,  rgba(104,159,56,1) 0%,rgba(124,179,66,1) 100%);
        background: linear-gradient(to bottom,  rgba(104,159,56,1) 0%,rgba(124,179,66,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#689f38', endColorstr='#7cb342',GradientType=0 );
        margin: 10px;
        height: 30px;
        color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
    }

/* Situer style */
section #situer {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-top: -20px;
}

    section #situer #map, section #situer #information {
        margin-left: 20px;
        margin-top: 20px;
    }
    section #situer #map {
        min-width: 500px;
        flex-grow: 1;
        display: flex;
    }
        section #situer #map iframe {
            width: 100%;
            flex-grow: 1;
        }

    section #situer #information{
        flex-grow: 1;
        margin-left: 20px;
    }
        section #situer #information .information{
            display: flex;
            flex-direction: column;
            padding : 10px;
            background: rgb(109,76,65);
            background: -moz-linear-gradient(top,  rgba(109,76,65,1) 0%, rgba(78,52,46,1) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,76,65,1)), color-stop(100%,rgba(78,52,46,1)));
            background: -webkit-linear-gradient(top,  rgba(109,76,65,1) 0%,rgba(78,52,46,1) 100%);
            background: -o-linear-gradient(top,  rgba(109,76,65,1) 0%,rgba(78,52,46,1) 100%);
            background: -ms-linear-gradient(top,  rgba(109,76,65,1) 0%,rgba(78,52,46,1) 100%);
            background: linear-gradient(to bottom,  rgba(109,76,65,1) 0%,rgba(78,52,46,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d4c41', endColorstr='#4e342e',GradientType=0 );
            border: 1px solid #3E2723;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            box-shadow: 2px 2px 5px rgba(20,20,20,0.2);
        }
            section #situer #information .information + .information {
                margin-top: 20px;
            }
            section #situer #information .information h2 {
                flex-grow: 1;
                border-bottom: 1px solid #3E2723;
                font-size: 19px;
                font-weight: bold;
                padding-bottom: 2px;
                color: #8BC34A;
            }
            section #situer #information .information strong {
                display: flex;
                color: #FFC107;
                min-height: 20px;
                margin-top: 10px;
            }
            section #situer #information .information p{
                color: #FFE0B2;
                margin-left: 10px;
            }

/* Partenaires style */
section #partenaires{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -10px;
    margin-top: -10px;
}
    section #partenaires .partenaire{
        width: 270px;
        min-width: 300px;
        height: 120px;
        margin-top: 10px;
        margin-left: 10px;
    }
        section #partenaires .partenaire:hover {
            background: rgba(150,150,150,0.1);
            cursor: pointer;
        }

footer{
    width:100vw;
    height:25px;
    background: rgba(0,0,0,0.5);
    position: fixed;
    bottom:0px;
    z-index:100;
    display: flex;
}
    footer .global{
        flex-direction: row-reverse;
        align-items: center;
    }
        footer a{
            color:#FFF;
            text-decoration: underline;
            font-size: 15px;
        }
